:root {
    --cyan: hsl(204, 86%, 55%);
    --cyan-bright: hsl(204, 86%, 60%);
    --cyan-dark: hsl(204, 86%, 50%);
}

html {
    overflow: auto;
}

.navbar-brand span.icon {
    margin-inline-end: 1ex;
}

.section {
    padding: 1.5rem 3rem;
}

.form {
    padding: 1rem;
    box-shadow: 0 0 10px #0002;
}

.field.recursive {
    flex-direction: column;
}

.field.recursive > p.control {
    display: flex;
}

.field.recursive > p.control .form {
    width: -webkit-fill-available;
}

.info, .button:focus, .button:hover {
    background: var(--cyan);
    color: white;
}

.button:hover {
    background: var(--cyan-bright);
}

.button:focus {
    background: var(--cyan-dark);
}