html {
    overflow: auto;
}

.navbar-brand span.icon {
    margin-inline-end: .5ex;
}

.section {
    padding: 1.5rem 3rem;
}

.form {
    padding: 1rem;
    border: solid .5px #0002;
    border-radius: 4px;
    box-shadow: 0 0 15px #0001;
}

.field.recursive > p.control:nth-child(even) {
    margin-top: .5rem;
}

.field.recursive > p.control:nth-child(even) > .form {
    margin-right: .5rem;
}

.field.recursive {
    flex-direction: column;
}

.field.recursive > p.control {
    display: flex;
}

.field.recursive > p.control .form {
    width: -webkit-fill-available;
}

.btns {
    display: flex;
    flex-direction: column;
}

button.button.top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

button.button.square {
    border-radius: 0;
}

button.button.bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

input, .select {
    background: white;
}

input, .select, button {
    z-index: 1;
}